# Data Cleaning 

#### 1. Import pandas library.

In [102]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [103]:
import pymysql
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [104]:
conn_string="mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats"
conn = sqlalchemy.create_engine(conn_string)

#### 4. Import the users table.

In [105]:
df_sql=pd.read_sql_query('select * from users;',conn)
#df_sql.to_sql('new_author',conn)
type(df_sql)

pandas.core.frame.DataFrame

#### 5. Rename Id column to userId.

In [106]:
#df_sql.rename(columns={'Id':'userId'})
df_sql.rename(columns={'Id':'userId'}, inplace=True)
df_sql

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [107]:
df1_sql=pd.read_sql_query('select * from posts;',conn)

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [108]:
df1_sql.rename(columns={'Id':'postId','OwnerUserId':'userId'}, inplace=True)

In [109]:
df1_sql

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [122]:
df_new=pd.merge(df_sql, df1_sql, left_on='userId', right_on='userId', how='outer')
df_new.drop(columns=['CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe','AccountId', 'Age', 'ProfileImageUrl', 'PostTypeId', 'AcceptedAnswerId',
       'CreaionDate', 'Body',
       'LasActivityDate', 'Title', 'Tags', 'AnswerCount',
       'FavoriteCount', 'LastEditorUserId', 'LastEditDate',
       'CommunityOwnedDate', 'ParentId', 'ClosedDate', 'OwnerDisplayName',
       'LastEditorDisplayName'],inplace=True)

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [123]:
df_new

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,2175.0,0.0,NaN,0.0
1,-1.0,1.0,0.0,5007.0,1920.0,8576.0,0.0,NaN,0.0
2,-1.0,1.0,0.0,5007.0,1920.0,8578.0,0.0,NaN,0.0
3,-1.0,1.0,0.0,5007.0,1920.0,8981.0,0.0,NaN,0.0
4,-1.0,1.0,0.0,5007.0,1920.0,8982.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...
110313,NaN,NaN,NaN,NaN,NaN,114678.0,0.0,20.0,2.0
110314,NaN,NaN,NaN,NaN,NaN,114812.0,0.0,16.0,1.0
110315,NaN,NaN,NaN,NaN,NaN,114815.0,1.0,14.0,5.0
110316,NaN,NaN,NaN,NaN,NaN,115225.0,0.0,8.0,0.0
110317,NaN,NaN,NaN,NaN,NaN,115271.0,0.0,9.0,2.0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [124]:
df_new.isnull().sum()

userId           1392
Reputation       1392
Views            1392
UpVotes          1392
DownVotes        1392
postId          18342
Score           18342
ViewCount       67397
CommentCount    18342
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [151]:
df_new.fillna('0',inplace=True)
df_new.isnull().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [155]:
df_new.dtypes
df_new = df_new.apply(pd.to_numeric)
#df_new.astype('int64')
df_new.dtypes

userId          float64
Reputation      float64
Views           float64
UpVotes         float64
DownVotes       float64
postId          float64
Score           float64
ViewCount       float64
CommentCount    float64
dtype: object